import { Kysely } from 'kysely';

export async function up(db: Kysely<any>): Promise<void> {
  // TODO: Add your migration up logic here
}

export async function down(db: Kysely<any>): Promise<void> {
  // TODO: Add your migration down logic here
}